<!-- Launch file for Stanley Innovation enabled Segway RMP startup -->

<launch>   

    <arg name="js_type" default="$(optenv SEGWAY_JOY_TYPE ds4)"/>
    
    <!-- DS4 Driver -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 ds4drv ds4drv.launch"
        name="ds4drv_bringup" output="screen" if="$(eval js_type == 'ds4')"/>
        
    <!-- ROS Driver, Robot State Publisher, and sensors -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="3 segway_bringup segway.launch"
        name="platform_bringup" output="screen"/>
        
    <!-- Platform Arm Manipulation drivers -->
    <!--node pkg="si_utils" type="timed_roslaunch"
        args="1 segway_bringup segway_manipulation.launch"
        name="manipulation_bringup" output="screen"/-->
        
    <!-- Platform Head Pan/Tilt drivers -->
    <!--node pkg="si_utils" type="timed_roslaunch"
        args="1 segway_bringup segway_pan_tilt.launch"
        name="pan_tilt_bringup" output="screen"/-->

    <!-- Sensor bringup for platforms that contain sensors-->
    <node pkg="si_utils" type="timed_roslaunch"
        args="5 segway_bringup segway_sensors.launch"
        name="sensor_bringup" output="screen"/>
        
    <!-- Moveit bringup-->
    <!--node pkg="si_utils" type="timed_roslaunch"
        args="8 segway_bringup segway_moveit.launch"
        name="segway_moveit_bringup" output="screen"/-->

    <!-- Platform Teleoperation -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="8 segway_bringup segway_teleop.launch"
        name="teleop_bringup" output="screen"/>

            
</launch>
